<% include  ../index %>
<div class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
            <div class="lh-100">
                <h1>Welcome</h1>
                <!-- <small>Since 2011</small> -->
            </div>
        </div>
    </div>
</div>


<% include ../include/footer %>