<% include  ../index %>
<div class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
            <div class="lh-100">
                <h1>Welcome</h1>
                <!-- <small>Since 2011</small> -->
                <div class="card">
                    <div class="row">
                        <div class="col-4 m-3">
                            <a href="/users/login" type="button" class="btn btn-warning pl-3 pr-3">Login here</a>
                        </div>
                        <div class="col-4 m-3">
                            <a href="/users/register" type="button" class="btn btn-info pr-3">Register here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ../include/footer %>