<header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="#">Dashboard</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto justify-content-end">
                    <% if (!user) { %>
                       <li class="nav-item active">
                            <a class="nav-link" href="/users/login">User <span class="sr-only"></span></a>
                        </li>
                      <% } %>
                
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Settings</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                
                              <% if (!user) { %>
                                <a class="dropdown-item" href="/admin/login">Login</a>
    
                              <% } else { %> 
                                <a class="dropdown-item" href="/admin/login">Logout</a>
                
                                <% } %>
                            </div>
                        </li>
                    </ul>
          </div>
        </nav>
      </header>
    
    
    