
<div class="container">
    <footer class="blog-footer">
        <p>Admin Footer <a href="#">Hyphen</a> by <a href="#">@hyphen</a>.</p>
        <p>
          <a href="#">Back to top</a>
        </p>
      </footer>
</div>

  <% include ./script %>