<% include ../index.ejs %>

<div class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
            <div class="lh-100">
                <div class="message-box">
                    <small> <% include ../middleware/messages.ejs %></small>
                </div>
                <h1>User Profile <u><%= user.name %></u></h1>
                <!-- <small>Since 2011</small> -->
            </div>
        </div>
    </div>
</div>

<% include ../include/footer.ejs %>