


<form action="/search/all_users" method="GET">
    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <input type="text" class="form-control" name="searchTerm" id="searchTerm" placeholder="search all users...">
            </div>
            <!-- <div class="col-4"> -->
                <button id="readButton">search</button>
            <!-- </div> -->
        </div>
    </div>
</form>
<ul class="list-group list-group-flush" id="results"></ul>



<script>
   
   let searchTerm = document.getElementById('searchTerm');
    let results = document.getElementById('results');
    
    searchTerm.addEventListener('keyup', searchFunction);



    function searchFunction() {
        let products;

        fetch('http://localhost:5000/search/all_users')
        // .then((response) => response.json())
        .then((response) => {

            if (response.ok) {
                response.json().then((json) => {
                    products = json;
                    initialize();
                });
            } else {
                console.log('Network request for products.json failed with response ' + response.status + ': ' + response.statusText);
            }
        });

        function initialize() {

            let results = document.getElementById('results');

            products.forEach((user) => {
                results.innerHTML += (`
                <li class="list-group-item">
                    <img src="../../assets/img/profile/${user.avtar}" height="40" width="40" class="img-thumbnail" /> 
                    <a href="https://www.google.com"> ${user.username} | 
                        <span class="text-muted"> ${user.email}</span>
                    </a>
                </li>
                `)
            });   
        }
    }

</script>

