


<div class="form-group">
    <div class="row">
        <div class="col-9">
            <input type="text" class="form-control" name="search" id="nameBox" placeholder="search all users...">
        </div>
        <!-- <div class="col-4"> -->
            <button id="readButton">search</button>
        <!-- </div> -->
    </div>
</div>
<ul class="list-group list-group-flush" id="status"></ul>

<!-- <div id="jobDiv"></div> -->

<!-- <script>

    $(document).ready(() => {

            $.ajax({
                // all URLs are relative to http://localhost:3000/
                url: http://localhost:5000/users/profile,
                type: 'GET',
                dataType: 'json', // this URL returns data in JSON format
                success: (data) => {
                    console.log('You received some data!', data);

                    $("#status").append(data)
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert('error ' + textStatus + " " + errorThrown);
                }
            });
    });

</script> -->