
<% include ../admin %>
<main role="main" class="container">
    <div class="my-5 p-3 bg-white rounded shadow-sm">
            <a type="button" class="btn btn-dark" href="/admin/dashboard">see admin dashboard</a><br>
        </div>
    </div>
</main>

<% include ../include/admin_footer %>