<% include ../admin.ejs %>

<main role="main" class="container-fluid h-100 bg-light text-dark mb-5">
    <div class="row justify-content-center align-items-center">
        <div class="my-0 p-3 bg-black rounded shadow-sm login-box">
            <div class="message-box">
                <small> <% include ../middleware/messages.ejs %></small>
            </div>
            <div class="d-flex align-items-center my-3 text-white-50 bg-purple rounded shadow-sm">

                <h2>Admin login</h2>

            </div>


            <!-- FORM -->
            <form class="pt-3" action="/admin/dashboard" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" id="username"
                        placeholder="Enter unique uername">
                </div>

                <!-- PASSWORD -->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password"
                        placeholder="Enter password">
                </div>


                <!-- REMEMBER ME -->
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck" name="remember_me">
                            Remember me
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>


            <!-- END FORM -->
        </div>
    </div>

</main>


<% include ../include/admin_footer %>